<launch>
  <arg name="map" default="map_empty.yaml" />
  <arg name="open_rviz" default="true" />
  <arg name="local_planner" default="dwa" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(find nav_2d)/maps/$(arg map)" />

  <include file="$(find nav_2d)/launch/amcl.launch" />

  <include file="$(find nav_2d)/launch/move_base.launch">
    <arg name="local_planner" value="$(arg local_planner)"/>
  </include>

  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" required="true"
      args="-d $(find nav_2d)/rviz/robot_navigation.rviz"/>
  </group>

</launch>