<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="bot" default="simple_robot" />
    <arg name="map" default="empty"/>

    <!-- Run gazebo empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg if="$(eval map != 'empty')" name="world_name" value="$(find robot_gazebo)/worlds/$(arg map).world"/>
    </include>

    <!-- Spawn robot -->
    <include file="$(find robot_gazebo)/launch/robot_spawn.launch">
        <arg name="bot" value="$(arg bot)"/>
    </include>

    <!-- attach controller -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" ns="robot" respawn="false" output="screen">
        <param name="robot_description" command="$(find xacro)/xacro '$(find robot_description)/urdf/$(arg bot).xacro'"/>
        <remap from="/joint_states" to="/robot/joint_states"/>
    </node>
</launch>